.main {
	display: grid;
	max-width: 1000px;
	padding: 10px;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 100px);
	grid-gap: 10px;
	grid-template-areas:
		"space_between"
		"space_around"
		"space_evenly"
		"centralized"
		"left_align"
		"right_align";
}

.box {
	background-color: #ccc;
	border-radius: 5px;
}

.space_between {
	grid-area: space_between;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: space-between;
}

.space_around {
	grid-area: space_around;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: space-around;
}

.space_evenly {
	grid-area: space_evenly;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: space-evenly;
}

.centralized {
	grid-area: centralized;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: center;
}

.left_align {
	grid-area: left_align;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: start;
}

.right_align {
	grid-area: right_align;
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: 100px;
	grid-template-areas: "box1 box2 box3";
	grid-gap: 10px;
	justify-content: end;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
}

.box3 {
	grid-area: box3;
}
