.home {
	display: grid;
	grid-template-columns: 220px 220px 220px 220px 220px;
	grid-template-rows: 100px 400px;
	grid-template-areas: 
		"header header header header header"
		"main main main main sidebar";
}

.box {
	background-color: #ccc;
	border: solid 4px #666;
	border-radius: 5px
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.sidebar {
	grid-area: sidebar;
}