.home {
	display: grid;
	grid-template-columns: 220px;
	grid-template-rows: 100px;
	grid-template-areas: "header";
}

.box {
	background-color: #ccc;
	border: solid 4px #666;
	border-radius: 5px
}

.a {
	grid-area: header;
}