.home {
	display: grid;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: 1fr 220px 220px 220px 220px 220px 1fr;
	grid-template-rows: 100px 1fr;
	grid-template-areas: 
		"header header header header header header header"
		". main main main main sidebar .";
	grid-gap: 10px;
}

.box {
	background-color: #ccc;
	border: solid 4px #666;
	border-radius: 5px;
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: 200px;
	grid-gap: 10px;
	grid-template-areas: "news1 news1 news2 news3";
}

.news1 {
	grid-area: news1;
}

.news2 {
	grid-area: news2;
}

.news3 {
	grid-area: news3;
}

.sidebar {
	grid-area: sidebar;
}

