.main {
	max-width: 1200px;
	padding: 10px;
	margin: 0 auto;
}

.box {
	background-color: #ccc;
}

.container_fluid_elements {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, minmax(200px));
	grid-template-rows: repeat(4, 100px);
	grid-gap: 10px;
	grid-template-areas:
		"full full full full full full"
    "half_1 half_1 half_1 half_2 half_2 half_2"
    "third_1 third_1 third_2 third_2 third_3 third_3"
    "two_thirds two_thirds two_thirds two_thirds one_third one_third";
}



#full {grid-area: full;}
#half_1 {grid-area: half_1;}
#half_2 {grid-area: half_2;}
#third_1 {grid-area: third_1;}
#third_2 {grid-area: third_2;}
#third_3 {grid-area: third_3;}
#two_thirds {grid-area: two_thirds;}
#one_third {grid-area: one_third;}

.container_steady_and_fluid {
	display: grid;
	padding-top: 10px;
	grid-template-columns: 1fr 200px;
	grid-template-rows: 100px;
	grid-gap: 10px;
}


